.navbar {
  display: flex;
  justify-content: space-around;
  align-items: end;
  padding: 1rem 2rem;
  background-color: var(--background);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navLinks li a {
  color: var(--foreground);
  font-weight: bold;
  transition: color 0.3s;
}

.navLinks li a:hover {
  color: #f56565;
}
